{{ define "app" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Wapp</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" type="module"></script>
  </head>

  <body>
    <p>Test</p>
    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" id="button1">Students</button>
      <button class="tablinks" id="button2">Paris</button>
      <button class="tablinks" id="button3">Tokyo</button>
    </div>

    {{ template "students" . }}

    {{ template "paris" . }}

    {{ template "tokyo" . }}

  </body>
</html>
{{ end }}
