{{ define "london" }}
    <div id="Tab1" class="tabcontent">
      <h3>London</h3>

      <div id="searchDropdown" class="search-content">
	<input type="text" placeholder="Search..." id="searchInput" onkeyup="serviceSearch()"/>
	<a></a>
	<a></a>
	<a></a>
	<a></a>
	<a></a>
      </div>

      <div class="search-padding"> </div>

      <div id="result">
      </div>

      <div class="pagination">
        <a id="prev" onclick="serviceFind(-1);">&laquo;</a>
        <a id="next" onclick="serviceFind(1);">&raquo;</a>
      </div>

    </div>
{{ end }}

