{{ define "students" }}
    <link rel="stylesheet" href="css/students.css">

    <div id="Tab1" class="tabcontent">
      <h3>Students</h3>

      <div id="students-searchDropdown" class="students-search-content">
	<input type="text" placeholder="Search..." id="students-searchInput"/>
	<a></a>
	<a></a>
	<a></a>
	<a></a>
	<a></a>
      </div>

      <div class="students-search-padding"> </div>

      <div id="students-result">
      </div>

      <div class="students-pagination">
        <a id="students-prev">&laquo;</a>
        <a id="students-next">&raquo;</a>
      </div>

    </div>
{{ end }}

